.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vw;
  align-items: center;
  padding: 0px 5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
}
.navbar .logo {
  width: 150px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}
.navbar li {
  cursor: pointer;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #fff4f2;
}
.navbar .active {
  border-bottom: 2px solid #49557e;
  padding-bottom: 2px;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .red-dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
@media (max-width: 1050px) {
  .navbar {
    width: 100%;
    height: 7vw;
    display: flex;
  }
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar {
    width: 100%;
    height: 8vw;
    padding: 0px 4rem;
  }
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
  }
  .navbar ul {
    display: none;
  }
}
@media (max-width: 650px) {
  .navbar ul {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 10vw;
    padding: 0px 2rem;
  }
  .navbar .logo {
    width: 100px;
  }
}
